@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-bg-color: #1992D4;
  --secondary-bg-color: #E2E8F0;
  --card-font-color: #929292;
  --card-icons-color: #333333;
  --card-border-color: #F0B429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* BASIC LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3 ;
}

